.btn-pag{
	background-color: #0099DC;
	color: white;
	margin-top: 10px;
}
.btn-pag:hover{
	background-color: white;
	color: #0099DC;
}
body{
	background-color: #333B3E;
}
#nave{
	max-height: 10vh;
	background-color: #333B3E;
}
#nave a{
	color: white;
}
#nave a:hover{
	color: #333B3E;
	background-color: white;
}
#main img{
	object-fit: cover;
	max-height: 87vh;
	filter: grayscale(70%);
}
#carousel {
  position: relative;
}

#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1;
}
.overlay p{
	font-size: 15pt;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
.maincontent{
	min-height: 87vh;
}
.maincontent h1{
margin-bottom: 15px;
	text-align: center;;
	color: white;
}
#temas h1{
	margin-bottom: 15px;
	text-align: center;;
	color: white;
}
#temas .btn-link{
	color: #0099DC;
	text-decoration-line: none;
}
#temas .btn-link:hover{
	color: #0099DC;
	text-decoration-line: none;
}
#footer{
	color: white;
	max-height: 5vh;
	text-align: center;
}
#coursecontent{
	background-color: white;
	color: black;
	
}
#profile{
	color: white;
}
#profile img{
	max-height: 25vh;
	border-radius: 50%;
}